<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div ng-repeat="i in images" ng-class="itemClass($index)">
            <img ng-src="images/{{i.src}}" alt="">
            <div class="carousel-caption">
                <h4>{{i.text}}</h4>
                <br><br>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>